/build/node_modules/
/build/scripts/
/dev/dist/
/dev/node_modules/
/pareto/dist/
/pareto/node_modules/
/pub/dist/
/pub/node_modules/
/pub/package.json
/test/dist/
/test/node_modules/
/test/package.json
/tmp