/scripts/node_modules/
/scripts/scripts/
/prebuild/dist/
/prebuild/node_modules/
/pareto/dist/
/pareto/node_modules/
/typescript/pub/dist/
/typescript/pub/node_modules/
/typescript/pub/package.json
/typescript/test/dist/
/typescript/test/node_modules/
/typescript/test/package.json
/tmp
